/* universal selector for body */
body{
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../cutewallpaperidea.jpg")

};

/* head of page */
header{
    position: relative;
    width: 100%;
    height: 200px;
}
.title{
    margin-top: 3%;
}
.intro{
    text-align: center;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    background-color: peachpuff;
    border: coral dashed 6px;
    margin-bottom: 1%;
 }
 .image{
    background-image: url("../intro.jpg");
 }
 /* end of head content */


 /* Nav-bar */
.navbarstyle{
    background-color:peachpuff;
    padding-right: 3%;
    position: relative;
    border: black 1px solid;
    width: 100%;
}
.ingredientsOption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.glassesOption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.categoriesOption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.filterOption{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchBar{
float: left;
border: coral dashed 3px;
}

.go{
    float: left;
}

 /* end Nav-bar */

 /* some body attributes */
 .body-first{
     height: 500px;
     width: 100%;
     position: relative;
 }
 .line{
     border: black 1px solid;
     margin-top: 9%;
     margin-left: 20%;
     margin-right: 20%;
 }
 .leftside{
    height: 100%;
    border-radius: 25px;
    background-color: peachpuff;
    border: coral dashed 6px;
    text-align: center;
 }
 .rightside{
     height: 100%;
    border-radius: 25px;
    background-color: peachpuff;
    border: coral dashed 6px;
    text-align: center;
 }
    .leftsideText{
    text-align: center;
    font-size: large;
    padding-top: 5%;
    }
    .rightsideText{
    text-align: center;
    font-size: large;
    padding-top: 5%;
    }
    /* second set of containers */
    .body-second{
    height: 500px;
    margin-bottom: 5%;
    width: 100%;
    }
    .line{
    border: black 1px solid;
    margin-top: 9%;
    margin-left: 20%;
    margin-right: 20%;
    }
    .leftsideTwo{
    height: 100%;
    border-radius: 25px;
    background-color: peachpuff;
    border: coral dashed 6px;
    text-align: center;
    margin-top: 1%;
    float: left;
    }
    .rightsideTwo{
    height: 100%;
    border-radius: 25px;
    background-color: peachpuff;
    text-align: center;
    border: coral dashed 6px;
    margin-top: 1%;
    float: left;
    }
    .leftsideTextTwo{
    text-align: center;
    font-size: large;
    padding-top: 5%;
    }
    .rightsideTextTwo{
    text-align: center;
    font-size: large;
    padding-top: 5%;
    }



    /* End body attributes


 /* Modal Login Content */
 .login-modal{
     border: groove black 1px;

 }
.modal-title{
     text-align: center;
    font-size: large;
    font-family: sans-serif;
 }
.submit{
border: black solid 1px;
}



 /* End Modal Login Content */

 /* Modal Sign up Content */
.signUp{
    text-align: center;
    margin-right: 10%;
    border: black solid 1px

}

 /* End Modal Sign Up

/* footer attributes */
.footer{
    border-radius: 25px;
    margin-left: .5%;
    width: 100%;
    height:auto;
    border: coral dashed 6px;
    background-color: peachpuff;
}

/* Section for unordered list attributes */ 
.API-1{
    border-bottom: 5%;
}
.API-2{
    border-bottom: 5%;
}
.API-3{
    border-bottom: 5%;
}
/* GitHub spacing for buttons */
 .logan{
	list-style-type: none;
	 margin-bottom: 8%;
 }
 .juan{
	list-style-type: none;
	margin-bottom: 8%;
}
.sam{
	list-style-type: none;
	margin-bottom: 8%;
}
.prince{
	list-style-type: none;
}